{% extends 'partials/layout.twig' %}
{% block content %}

    <div class="page-header">
        <h1>Eliminando cliente</h1>
    </div>

    <div class="panel-danger">
        <ul>
            <ol>Nombre: {{ datos.nombre }}</ol>
            <ol>Apellido: {{ datos.apellidos }}</ol>
        </ul>
    </div>


    <form action="{{ 'clientes/borrar'|url }}" method="post">
        <input type="hidden" name="id" value="{{ datos.id }}">
        <a href="{{ 'clientes'|url }}" class="btn btn-default">Cancelar</a>
        <button data-ajax="true" class="btn btn-danger">Borrar</button>
    </form>

{% endblock %}