{% extends 'partials/layout.twig' %}
{% block content %}

    <form method="post" action="{{ 'clientes/formulario'|url }}">

        {% if datos!=null %}
            <input type="hidden" value="{{ datos.id }}" name="id">
        {% endif %}

        <div class="form-group">
            <input class="form-control" placeholder="Nombre" name="nombre" type="text" value="{{ datos.nombre }}"/>
            <span data-key="nombre" class="form-validation-failed"></span>
        </div>

        <div class="form-group">
            <input class="form-control" placeholder="Apellidos" name="apellidos" type="text" value="{{ datos.apellidos }}"/>
            <span data-key="apellidos" class="form-validation-failed"></span>
        </div>

        <div class="">
            <a class="btn btn-default" href="{{ 'clientes'|url }}">Cancelar</a>
            <button data-ajax="true" class="btn btn-success">Guardar</button>
        </div>

    </form>

{% endblock %}

