{% extends 'partials/layout.twig' %}

{% block content %}

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="{{ 'css/cliente/clientes.css'|public }}" rel="stylesheet"/>
		<title>{{ title }}</title>
	</head>

	<body class="backgroundT">
		<div class="titulo page-header">
			<h1>Modulo de Clientes</h1>
			<a href="{{ 'clientes/formulariog'|url }}" class="btn btn-info">Nuevo Cliente</a>
		</div>

		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">IMAGEN</th>
					<th scope="col">NOMBRE</th>
					<th scope="col">APELLIDOS</th>
					<th scope="col">ACCIONES</th>
				</tr>
			</thead>
			<tbody>
				{% for cliente in clientes %}
					<tr>
						<th><img class="imgPro" src="{{ 'images/clientes/General.png'|public }}" alt=""></th>
						<td>{{ cliente.nombre|upper }}</td>
						<td>{{ cliente.apellidos|upper }}</td>
						<td>
							<a class="btnEditar" href="{{ 'clientes/formulariog'|url }}/{{ cliente.id }}">Editar</a>
							<a class="btnBorrar" href="{{ 'clientes/borrar'|url }}/{{ cliente.id }}">Borrar</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</body>
</html>

{% endblock %}
