.Background {
    background: honeydew;
}

.Titulo {
    color: black;
    font-weight: bold;
    text-align: center;
}

.card {
    text-align: center;
    background: white;
    padding: 20px 20px 20px 20px;
}

input {
    text-align: -webkit-center;
}