{% set usuario = user() %}
<nav
	class="navbar navbar-expand-lg bg-light navbar-light">
	<!-- Brand -->
	<a class="navbar-brand" href="#">Logo Libreria</a>

	<!-- Toggler/collapsibe Button -->
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		<span class="navbar-toggler-icon"></span>
	</button>

	<!-- Navbar links -->
	<div class="row collapse navbar-collapse" id="collapsibleNavbar">
		<div class="col-md-7">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="{{ 'home'|url }}">
						<span class="sr-only">(current)</span>Inicio</a>
				</li>

				<!-- Menu desplegable de Ventas -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
						Ventas
					</a>
					<div class="dropdown-menu">
						{% if isSeller() %}
							<a class="dropdown-item" href="{{ 'comprobante'|url }}">Comprobantes</a>
						{% endif %}
						{% if isAdmin() %}
							<hr>
						{% endif %}
						<a class="dropdown-item" href="{{ 'reporte/ventas'|url }}">Venta por mes</a>
						<a class="dropdown-item" href="{{ 'reporte/productos'|url }}">Productos por mes</a>
					</div>
				</li>

				<!-- Menu desplegable de Mantenimiento -->
				{% if isSeller() %}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
							Mantenimiento
						</a>
						<div class="dropdown-menu">
							{% if isAdmin() %}
								<a class="dropdown-item" href="{{ 'usuario'|url }}">Usuarios</a>
							{% endif %}
							<a class="dropdown-item" href="{{ 'cliente'|url }}">Clientes</a>
							<a class="dropdown-item" href="{{ 'producto'|url }}">Productoss</a>
						</div>
					</li>
				{% endif %}
			</ul>
		</div>

		<div class="col-md-5">
			<ul class="nav navbar-var justify-content-end">
				<li class="navbar-text">Hola, ¡<b>{{ usuario.nombre }}</b>! &nbsp;&nbsp;&nbsp;</li>
				<li title="Desconectarse">
					<a href="{{ 'auth/signout'|url }}"><img src="{{ 'images/logout.png'|public }}" alt="Salir" height="32"></a>
				</li>
			</ul>
		</div>
	</div>
</nav>
