<!DOCTYPE html>
<html lang="es">
<head>
    <title>{{title}}</title>
    <link href="{{ 'bootstrap4/css/bootstrap.css'|public }}" rel="stylesheet" />
    <link href="{{ 'bower_components/font-awesome/css/font-awesome.min.css'|public }}" rel="stylesheet" />
    <link href="{{ 'fontawesome590/css/all.css'|public }}" rel="stylesheet" />
    <link href="{{ 'bower_components/EasyAutocomplete/dist/easy-autocomplete.min.css'|public }}" rel="stylesheet" />
    <link href="{{ 'css/style.css'|public }}" rel="stylesheet" />
</head>
<body>

<div class="container">
    <div class="col-12">
        {% if menu is null or menu %}
            {% include('partials/new_menu.twig') %}
        {% endif %}

        {% block content %}{% endblock %}

        <br><br>
        <!--<footer class="text-center card card-body bg-light">
            Desarrollado por Zaun
        </footer>-->
    </div>
</div>


<script src="{{ 'js/jquery3-4-1.js'|public }}"></script>
<script src="{{ 'bootstrap4/js/bootstrap.js'|public }}"></script>
<script src="{{ 'bower_components/riot/riot.min.js'|public }}"></script>
<script src="{{ 'bower_components/riot/riot+compiler.min.js'|public }}"></script>
<script src="{{ 'bower_components/jquery.form.min/index.js'|public }}"></script>
<script src="{{ 'bower_components/moment/min/moment.min.js'|public }}"></script>
<script src="{{ 'bower_components/EasyAutocomplete/dist/jquery.easy-autocomplete.min.js'|public }}"></script>
<script src="{{ 'js/ini.js'|public }}"></script>
<script src="{{ 'js/formulas.js'|public }}"></script>

{% block scripts %}{% endblock %}

<script>
    function redirect(url) { url = url || ''; window.location.href = base_url(url);}
    function base_url(url) { url = url || ''; return '{{''|url}}' + url;}
</script>
</body>
</html>