.backgroundT {
    background: #313131;
}

.titulo {
    text-align: center;
    color: yellow;
}

.imgPro {
    width: 30px;
    height: 30px;
}

.table {
    background: white;
}

.btnEditar {
    background-color: #4CAF50;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 5px 5px 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.btnBorrar {
    background-color: #c03d3d;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 5px 5px 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}