{% extends 'partials/new_layout.twig' %}
{% block content %}
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link href="{{ 'css/home/homes.css'|public }}" rel="stylesheet"/>
		</head>

		<body class="backgroundT">

		<div class="titulo">
				<h1>Página Principal</h1>
				<h3>Bienvenido a la página principal</h3>
				<hr color="black">
			</div>
		</div>

			<div class="container">
				<div class="row">
					{# Primer Producto #}
					<div class="col-lg-4 col-sm-6 mb-4">
						<div class="card">
							<a href="{{ 'clientes' }}"><img class="card-img-top" src="{{ 'images/home/Clientes.png'|public }}" alt=""></a>
							<div class="card-body">
								<h5 class="card-title">Modulo de Clientes</h5>
								<p class="card-text">Sección de modulos de clientes, en donde crearemos, actualizaremos y eliminaremos los clientes</p>
								<a href="{{ 'clientes' }}" class="btn btn-warning">Modulo de Clientes</a>
							</div>
						</div>
					</div>

					{# Segundo Producto #}
					<div class="col-lg-4 col-sm-6 mb-4">
						<div class="card">
							<a href="{{ 'panel/productos' }}"><img class="card-img-top" src="{{ 'images/home/Productos.png'|public }}" alt=""></a>
							<div class="card-body">
								<h5 class="card-title">Tienda de Arte</h5>
								<p class="card-text">Sección de productos de arte, en donde crearemos, actualizaremos y eliminaremos los productos de arte.</p>
								<a href="{{ 'panel/productos' }}" class="btn btn-warning">Modulo de Productos</a>
							</div>
						</div>
					</div>

					{# Tercer Producto #}
					<div class="col-lg-4 col-sm-6 mb-4">
						<div class="card">
							<a href="{{ 'home' }}"><img class="card-img-top" src="{{ 'images/home/Mantenimiento01.png'|public }}" alt=""></a>
							<div class="card-body">
								<h5 class="card-title">Mantenimiento 01</h5>
								<p class="card-text">Sección de modulos de productos, en donde crearemos, actualizaremos y eliminaremos los clientes</p>
								<a href="{{ 'home' }}" class="btn btn-warning">Modulo de Productos</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</body>
	</html>
{% endblock %}
