.backgroundT {
    background: #FFFFFF;
}

.titulo {
    text-align: center;
}

.card {
    background: rgba(255, 1, 133, 0.13);
    text-align: center;
    width: 18rem;
}

.card-body {
    text-align: center;
}

.card-text {
    text-align: justify;
}


.hrOp {
    background: white;
}

.card-img-top {
    height: 250px;
    width: 285.5px;
}