.card {
    background: rgba(255, 189, 0, 0.16);
    border-radius: 5%;
    text-align: center;
    margin-bottom: 50px;
}

.card-img {
    margin-top: 15px;
    width: 200px;
    height: 200px;
}

.card-body {
    color: #000000;
    font-weight: bold;
}

.card-body h3 {
    padding: 0px 15px 0px 15px;
    text-align: justify-all;
}

.card-body h4 {
    text-align: center;
    font-size: 25px
}

.btn-01 {
    background-color: #4CAF50;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 15px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-bottom: 10px;
}

.btn-02 {
    background-color: #c03d3d;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 15px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-bottom: 10px;
}