<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ autor }}</title>
	</head>
	<body>
		<h3>CLIENTES</h3>
		{% if datos|lenght > 0 %}
			<table border="1">
				<tr>
					<th>FOLIO</th>
					<th>NOMBRE</th>
					<th>APELLIDOS</th>
				</tr>
				{% for elemento in datos %}
					<tr>
						<td>{{ elemento.id }}</td>
						<td>{{ elemento.nombre }}</td>
						<td>{{ elemento.apellidos }}</td>
					</tr>
				{% endfor %}
			</table>
		{% else %}
			<span>Por el momento no hay clientes...</span>
		{% endif %}
	</body>
</html>
