{% extends 'partials/layout.twig' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="{{ 'css/panel/addproducto/aggprod.css'|public }}" rel="stylesheet">
		<title>{{ title }}</title>
	</head>
<body class="Background">

	<div class="Titulo page-header">
		<h3>Ficha del Producto</h3>
	</div>

<form action="{{ 'panel/saveproducto'|url }}" method="post">
	<div class="container">
		<div class="row">
			<div class="card">
				{% if dato!=null %}
					<input type="hidden" name="id" value="{{ dato.id }}"/>
				{% endif %}

				<div class="form-group">
					<input class="form-control" placeholder="Nombre del Producto" name="nombre" type="text" value="{{ dato.nombre }}"/>
					<span data-key="email" class="form-validation-failed"></span>
				</div>

				<div class="form-group">
					<input class="form-control" placeholder="Descripción del Producto" name="descripcion" type="text" value="{{ dato.descripcion }}"/>
					<span data-key="email" class="form-validation-failed"></span>
				</div>

				<div class="form-group">
					<input class="form-control" placeholder="Precio del Producto" name="precio" type="text" value="{{ dato.precio }}"/>
					<span data-key="email" class="form-validation-failed"></span>
				</div>

				<div class="form-group">
					<input class="form-control" placeholder="Imagen del producto (.png)" name="imagen" type="text" value="{{ dato.imagen }}"/>
					<span data-key="email" class="form-validation-failed"></span>
				</div>

				<div>
					<a class="btn btn-default" href="{{ 'panel/productos'|url }}">Cancelar</a>
					<button class="btn btn-success" data-ajax="true" type="submit">Guardar</button>
				</div>

			</div>
		</div>
	</div>
</form>


</body>
</html>

{% endblock %}
