{% extends 'partials/layout.twig' %}
{% block content %}

    <div class="page-header">
        <h3>El Producto a Eliminar</h3>
    </div>

    <div class="panel-danger">
        <ul>
            <ol>Nombre: {{ datos.nombre }}</ol>
            <ol>Descripción:  {{ datos.descripcion }}</ol>
            <ol>precio: $ {{ datos.precio }}</ol>
        </ul>
    </div>

        <a href="{{ 'panel/productos'|url }}" class="btn btn-default">Cancelar</a>
        <form method="post" action="{{ 'panel/borrar'|url }}">
            <input type="hidden" value="{{ datos.id }}" name="id"/>
            <button data-confirm="¿Estás Seguro de Borrar?" data-ajax="true" class="btn btn-danger">Confirmar</button>
        </form>

{% endblock %}