{% extends 'partials/layout.twig' %}
{% block content %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ 'css/panel/panel.css'|public }}" rel="stylesheet"/>
        <link href="{{ 'css/panel/cards.css'|public }}" rel="stylesheet"/>
        <title>{{ title }}</title>
    </head>

    <body class="BackgroundBody">

        <div class="titulo">
            <h1>Tienda de Arte</h1>
            <a href="{{ 'panel/addproducto'|url }}" class="button-23">Nuevo Producto</a><hr>
        </div>

        <div class="container">
            <div class="row">
                {% for item in datos %}
                    <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
                        <div class="card">
                            <img  class="card-img" src="{{ 'images/panel'|public }}/{{ item.imagen }}" alt="">
                            <div class="card-body">
                                <h2>{{ item.nombre }}</h2>
                                <h3>{{ item.descripcion }}</h3>
                                <h4>$ {{ item.precio }}</h4>
                                <div>
                                    <a class="btn-02" href="{{ 'panel/borrar'|url }}/{{ item.id }}">Borrar</a>
                                    <a class="btn-01" href="{{ 'panel/addproducto'|url }}/{{ item.id }}">Editar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </body>
</html>
{% endblock %}
